
.bookpuja{
.content{
    .breadcrumb{
        margin-bottom: 16px;
    }
    .title h1{
        font-size: 26px;
    }
    .booking{
        margin-top:74px;
        margin-bottom: 20px;
    }
    input{
        margin-bottom: 20px;
    }
}
}