
.dashboard{
.content{
    .panel{
        .pic{
            height: 124px;
            width: 124px;
        }
        a{
            text-align: left;
            border: none;
        }
        a.active{
            font-weight: bold;
            background-color:#F14F4F;
            background-repeat: no-repeat;
            background-size: cover;
            border: none;
        }
    }
    .date{
        width:fit-content;
    }
    .shop,.temple{
        .item{
            p{
                margin-bottom: 0;
            }
        }
    }
}
}