@use 'common';
@use 'header';
@use 'footer';

.terms{
    .content .title {
        margin-top: 40px;
        h1 {
            font-size: 26px;
        }
        hr{
            margin-top: 12px;
            margin-bottom: 0px;
        }
    }
    .content{
        button:focus{
            outline: transparent;
        }
        .nav-link{
            border: none;
            background-color: transparent;
            color: black;
        }
        .nav-link.active{
            border: none;
            font-weight: bold;
        }
    }
    
}