@use 'common';
@use 'header';
@use 'footer';
.yagyadetail{
.content .title {
	margin-top: 40px;
    hr{
        margin-top: 12px;
        margin-bottom: 0px;
    }
    h1 {
        font-size: 26px;
      }
}
.content{
    .detail{
        .title{
            font-size: 26px;
        }
    }
    .image{
        overflow: hidden;
    }
    .booking{
        font-size: 26px;
        margin-top:74px;
        margin-bottom: 20px;
    }
    input{
        margin-bottom: 20px;
    }
    
}
}