.bg-red {
  background: #C10F0F 0% 0% no-repeat padding-box;
}

* {
  transition: all ease 0.2s;
}

body {
  background: #F9F1D8 0% 0% no-repeat padding-box;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #413D3D;
}

input, textarea, .form-control {
  font-size: 14px;
}

p {
  margin-bottom: 1.5rem;
  line-height: 25px;
}

a {
  text-decoration: none;
}

@media (min-width: 991.98px) {
  .content, footer {
    padding: 0 30px;
  }
}
.btn-primary {
  background-color: #F14F4F;
  border: none;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.32);
}
.btn-primary:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.13) inset;
  background-color: #c10f0f;
}

input {
  font-size: 14px;
}

textarea {
  font-size: 14px;
}

.btn, button {
  font-size: 14px;
}

.btn-light:hover, .btn-check:active + .btn-light, .btn-check:checked + .btn-light, .btn-light.active, .btn-light:active, .show > .btn-light.dropdown-toggle {
  background-color: #e0e0e0;
}

.btn-primary:hover {
  background-color: #C10F0F;
}

.btn-primary:focus {
  background-color: #C10F0F;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 3px;
}

.banner {
  background: url(../img/pooja.jpg);
  background-size: 100% 100%;
  margin-top: 36px;
  height: 234px;
  font-size: 24px;
}

.feedback {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}
.feedback .content {
  transition: all ease 0.2s;
  padding: 0px 30px;
  background: white;
  height: 0;
}
.feedback .content.open {
  height: auto;
  padding: 30px;
}

.header {
  background-color: #FF9537;
}
.header .btn-primary {
  box-shadow: none;
}
.header .navbar-brand {
  padding: 10px 15px;
  display: block;
}
.header .navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 10px;
}
.header .navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.6;
}
.header .navbar {
  margin-left: -15px;
  padding: 0;
  background-color: #FF9537;
}
.header .navbar .navbar-collapse {
  margin-left: 0px;
}
.header .navbar .navbar-collapse .action .btn {
  box-shadow: none;
  position: relative;
}
.header .navbar .navbar-collapse .action .btn:hover {
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.08);
}
.header .navbar .navbar-collapse .action .btn .badge {
  right: -5px;
  position: absolute;
  padding: 3px;
  width: 16px;
  top: -5px;
  font-size: 9px;
}
.header .navbar .navbar-collapse .action .btn.btn-link {
  padding-left: 5px;
  padding-right: 5px;
}
.header .navbar .navbar-collapse .action .btn.btn-link img {
  width: 20px;
}
.header .navbar .navbar-collapse .action .btn.btn-link:hover {
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.2);
}
.header .navbar .navbar-collapse .action .dropdown-menu {
  margin: 0;
  padding: 0;
}
.header .navbar .navbar-collapse .action .dropdown-menu li a img {
  width: 26px;
}
.header .navbar .navbar-collapse .action .dropdown-menu li a:focus {
  border: none;
  outline: none;
}
.header .navbar .navbar-collapse .action .dropdown-menu li a:hover {
  border-radius: 0.25rem;
}
.header .navbar .navbar-collapse .action .lang .dropdown-menu {
  min-width: 53px;
}
.header .navbar .navbar-collapse .action .cart .dropdown-menu {
  padding: 15px 20px;
  width: 280px;
  font-size: 14px;
}
.header .navbar .navbar-collapse .action .cart .dropdown-menu .title {
  width: 200px;
}
.header .navbar .navbar-collapse .action .cart .dropdown-menu .qty {
  width: 70px;
}
.header .navbar .navbar-collapse .action .cart .dropdown-menu .price {
  width: 70px;
}
.header .subhead {
  background-color: white;
  box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.06);
}
.header .subhead .utility {
  height: 36px;
}
.header .subhead .topbtns {
  width: auto;
}
.header .subhead .topbtns .search {
  margin-right: 10px;
}
.header .subhead .topbtns .search input {
  border: none;
  padding: 7px;
}
.header .subhead .topbtns .search span {
  line-height: 34px;
}
.header .subhead .topbtns .search span img {
  width: 18px;
}
.header .subhead .topbtns .donate {
  background-color: #F1EE8F;
  color: black;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
}
.header .subhead .topbtns .download a {
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
}
.header .subhead img {
  width: 18px;
}

@media (max-width: 992px) {
  .header .navbar {
    background-color: #c10f0f;
  }
  .header .navbar .navbar-collapse {
    margin-left: 15px;
  }
  .header .subhead .topbtns {
    width: 100%;
  }
}
footer {
  margin-top: 90px;
  color: white;
  background: #F96767;
  padding: 60px 30px;
}
footer .menu ul li {
  margin-bottom: 5px;
}
footer .menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .menu ul li a:hover {
  opacity: 0.6;
}
footer .newsletter input {
  border: none;
}
footer .newsletter .btn-primary {
  background-color: #ff8787;
  border: none;
}

.content .title {
  margin-top: 40px;
}

.content .title h1 {
  font-size: 26px;
}

.content .featured {
  margin-top: 20px;
}
.content .featured .imgcover {
  height: 224px;
  overflow: hidden;
}
.content .featured .card .card-title {
  font-size: 18px;
  font-weight: 700;
}
.content .list {
  margin-top: 34px;
}
.content .list .card-title {
  font-size: 18px;
  font-weight: 600;
}
.content .list .card {
  height: 110px;
}
.content .list .card img {
  height: 110px;
  width: 125px;
}
@media (min-width: 576px) {
  .content .list .card {
    height: 60px;
  }
  .content .list .card img {
    height: 60px;
    width: 67px;
  }
  .content .list .card .card-title {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .content .list .card {
    height: 70px;
  }
  .content .list .card img {
    height: 70px;
    width: 87px;
  }
  .content .list .card .card-title {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .content .list .card {
    height: 90px;
    overflow: hidden;
  }
  .content .list .card img {
    height: 90px;
    width: 107px;
  }
  .content .list .card .card-title {
    font-size: 18px;
  }
}
@media (min-width: 1220px) {
  .content .list .card {
    height: 120px;
  }
  .content .list .card img {
    width: 137px;
    height: 120px;
  }
  .content .list .card .card-title {
    font-size: 18px;
  }
}